body {
	background: rgba(44, 62, 80, .8);
	font-family: 'Oswald', 'Futura', sans-serif;
}

.container-fluid {
  padding: 0;
}

.container-fluid .row {
  margin: 0;
}

/* Navbar */

.navbar  {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.navbar-nav {
  margin: auto;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
  color: #333;
  letter-spacing: 1px;
}

#wrapper {
	margin-top: 10% !important;
}
#content {
	background: beige;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
.list-group-item {
	color: black;
}

/* login */

.auth-card {
  margin-bottom: 30px;
}

.change-form-p {
  margin-top: 30px;
  text-align: center;
}
